{
  presets: [
    ['env', {
      targets: {
        node: 6.8,
      },
      loose: true,
    }],
    'react',
  ],
  plugins: [
    'transform-es2015-destructuring', // https://github.com/babel/babel/issues/4074
    'transform-es2015-parameters',    // https://github.com/babel/babel/issues/4074
    'transform-object-rest-spread',
],
}
